<h3>会員一覧</h3>

<section>
  <% customers.each do |customer| %>
  <div class="flex-row">
    <div class="flex-item">
      <%= image_tag customer.get_image(80,80) %>
    </div>
    <div class="flex-item">
      <%= customer.name %>
    </div>
    <div class="flex-item">
      フォロー<%= customer.followings.count %>人
    </div>
    <div class="flex-item">
      フォロワー<%= customer.followers.count %>人
    </div>
    <div class="flex-item">
      <%= render "public/relationships/btn", customer: customer %>
    </div>
    <div class="flex-item">
      <%= link_to "詳細ページ", customer_path(customer.id), class:"btn btn-outline-success" %>
    </div>
  </div>
  <% end %>
</section>