<div class="container mt-5">
  <h3>ブックマーク一覧</h3>
  <div class="row">
    <% @favorite_reviews.each do |favorite_review| %>
      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card mx-auto mt-4 shadow-lg">

          <div class="card-header">
            <%= link_to customer_path(favorite_review.customer.id) do %>
              <%= image_tag favorite_review.customer.get_image(80,80), class:"rounded-circle" %>
              <%= favorite_review.customer.name %>
            <% end %>
          </div>

          <div class="card-title text-center">
            <%= link_to review_path(favorite_review.id) do %>
              <h5><%= favorite_review.title %><%= favorite_review.sub_title %></h5>
            <% end %>
          </div>

          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><%= favorite_review.body.truncate(35) %></li>
              <li class="list-group-item">会場名：<%= favorite_review.venue_name %></li>
              <li class="list-group-item">公演日：<%= favorite_review.date&.strftime('%Y/%m/%d') %></li>
              <li class="list-group-item">開演時間：<%= favorite_review.time&.strftime('%H:%M') %></li>
            </ul>
          </div>

          <div class="card-body text-center">
            <%= render "public/favorites/view", review: favorite_review %>
            |
            <i class="fa-solid fa-tag"></i>
            <%= favorite_review.tags.map(&:name).join(', ') %>
          </div>

        </div>
      </div>
    <% end %>
  </div>
</div>
