<div class="container mt-5">
  <h2><%= @customer.name %>さんのフォロー一覧</h2>
  <% if @customers.exists? %>
    <section>
      <% @customers.each do |customer| %>
      <div class="flex-row">
        <div class="flex-item">
          <%= image_tag customer.get_image(80,80) %>
        </div>
        <div class="flex-item">
          <%= customer.name %>
        </div>
        <div class="flex-item">
          <%= link_to customer_followings_path(customer) do %>
            フォロー<%= customer.followings.count %>人
          <% end %>
        </div>
        <div class="flex-item">
          <%= link_to customer_followers_path(customer) do %>
            フォロワー<%= customer.followers.count %>人
          <% end %>
        </div>
        <div class="flex-item">
          <%= link_to "詳細ページ", customer_path(customer.id), class:"btn btn-outline-success" %>
        </div>
      </div>
      <% end %>
  </section>
  <% else %>
    <p>フォローしているユーザーはいません</p>
  <% end %>
</div>