<h3>会員一覧</h3>
<table class="table">
  <tbody>
    <% customers.each do |customer| %>
      <tr>
        <td><%= image_tag customer.get_image(80,80) %></td>
        <td><%= customer.name %></td>
        <td>フォロー<%= customer.followings.count %>人</td>
        <td>フォロワー<%= customer.followers.count %>人</td>
        <td><%= link_to "詳細ページ", admin_customer_path(customer.id), class:"btn btn-outline-success" %></td>
      </tr>
    <% end %>
  </tbody>

</table>