<div class="card ml-5 px-5">
  <% if customer.present? %>
    <div>
      <%= image_tag customer.get_image(100,100), style: "border-radius: 50%; object-fit:cover;" %>
      <%= link_to "会員情報編集", edit_admin_customer_path(customer.id), class:"btn btn-success" %>
      <%#= link_to "ブックマーク一覧", favorite_index_customer_path(current_customer), class:"btn btn-success" %>
    </div>
    <div>
      <p>ユーザー名：<%= customer.name %></p>
    </div>
    <div>
    フォロー:<%= customer.followings.count %>人
    フォロワー:<%= customer.followers.count %>人
    </div>
    <div>
      <p>自己紹介</p>
      <%= customer.introduction %>
    </div>
  <% end %>
</div>