<div class="container">
  <div class="row mt-5">
    <div class="col-12 offset-lg-1 col-lg-10">
      <div class="card p-5">
        <h3>投稿編集(<%= @review.status_i18n %>)</h3>

        <div class="row">

          <div class="col-12 col-lg-3">
            <section class="review-show-top">
              <div class="review-show-left">
                <%= image_tag @customer.get_image(80,80), class:"rounded-circle" %>
                <br />
                <%= @customer.name %>
              </div>
            </section>
          </div>

          <div class="col-12 col-lg-9">
            <section class="review-show-top">
              <div class="review-show-left">
                タイトル：<%= @review.title %><%= @review.sub_title %>
                <br />
                会場名：<%= @review.venue_name %>
                <br />
                公演日：<%= @review.date&.strftime('%Y/%m/%d') %>
                <br />
                開演時間：<%= @review.time&.strftime('%H:%M') %>
              </div>
            </section>
          </div>

        </div>

        <section class="review-show">
          <div class="row">
            <div class="col">
              <%= render "admin/reviews/body", review: @review %>
            </div>
          </div>
        </section>

        <section class="review-show">
          <div class="row">
            <div class="col">
              <%= form_with model: @review, url: admin_review_path, method: :patch do |f| %>
                <label>ネタバレ有無：</label>
                <%= f.radio_button :status, Review.statuses.key(0) %>
                <%= f.label :status, Review.statuses_i18n[:spoiler_not], value: Review.statuses.key(0) %>
                <%= f.radio_button :status, Review.statuses.key(1) %>
                <%= f.label :status, Review.statuses_i18n[:spoiler], value: Review.statuses.key(1) %>
                <%= f.submit '更新する', class: "btn btn-outline-success mt-2" %>
              <% end %>
            </div>
          </div>
        </section>

      </div>
    </div>
  </div>
</div>