<!--下書き @draft_review = @customer.reviews.where(status: :draft)-->

<div class="row">
  <% draft_review.each do |draft_review| %>
    <div class="col-12 col-md-6 col-lg-4 mb-4">
      <div class="card mx-auto mt-4 shadow-lg">

        <div class="card-header">
          <%= link_to customer_path(draft_review.customer.id) do %>
            <%= image_tag draft_review.customer.get_image(80,80) %><br>
            <%= draft_review.customer.name %>
          <% end %>
        </div>

        <div>
          <%= link_to review_path(draft_review.id) do %>
            <h5 class="card-title text-center mt-2"><%= draft_review.title %><%= draft_review.sub_title %></h5>
          <% end %>
        </div>

        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><%= draft_review.body.truncate(35) %></li>
            <li class="list-group-item">会場名：<%= draft_review.venue_name %></li>
            <li class="list-group-item">公演日：<%= draft_review.date.strftime('%Y/%m/%d') %></li>
            <li class="list-group-item">開演時間：<%= draft_review.time.strftime('%H:%M') %></li>
          </ul>
        </div>

        <div class="card-body text-center">
          <%= render "public/favorites/view", review: draft_review %>
          |
          <i class="fa-solid fa-tag"></i>
          <%= draft_review.tags.map(&:name).join(', ') %>
        </div>

      </div>
    </div>
  <% end %>
</div>