<!--ネタバレなし @not_spoiler_review = @customer.reviews.where(status: :not_spoiler)-->

<div class="row tab-frame">
  <% if not_spoiler_review.exists? %>
    <% not_spoiler_review.each do |not_spoiler_review| %>
      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card mx-auto mt-4 shadow-lg">
  
          <div class="card-header">
            <%= link_to customer_path(not_spoiler_review.customer.id) do %>
              <%= image_tag not_spoiler_review.customer.get_image(80,80), class:"rounded-circle" %>
              <%= not_spoiler_review.customer.name %>
            <% end %>
          </div>
  
          <div>
            <%= link_to review_path(not_spoiler_review.id) do %>
              <h5 class="card-title text-center mt-3"><%= not_spoiler_review.title %><br /><%= not_spoiler_review.sub_title %></h5>
            <% end %>
          </div>
  
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><%= not_spoiler_review.body.truncate(35) %></li>
              <li class="list-group-item">会場名：<%= not_spoiler_review.venue_name %></li>
              <li class="list-group-item">公演日：<%= not_spoiler_review.date.strftime('%Y/%m/%d') %></li>
              <li class="list-group-item">開演時間：<%= not_spoiler_review.time.strftime('%H:%M') %></li>
            </ul>
          </div>
  
          <div class="card-body text-center">
            <%= render "public/favorites/view", review: not_spoiler_review %>
            |
            <i class="fa-solid fa-tag"></i>
            <%= not_spoiler_review.tags.map(&:name).join(', ') %>
          </div>
  
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="draft-text d-flex align-items-center justify-content-center", style="height:250px; margin: auto;">
    ネタバレなしの投稿はありません
    </div>
  <% end %>
</div>