<!--ネタバレなし @not_spoiler_review = @customer.reviews.where(status: :not_spoiler)-->

<div class="row row-cols-4">
  <% not_spoiler_review.each do |not_spoiler_review| %>
    <div class="col mb-4">
      <div class="card-deck">
        <div class="card review_card", style="width: 18rem;">
          <div class="card-body">
            <%= link_to customer_path(not_spoiler_review.customer.id) do %>
              <%= image_tag not_spoiler_review.customer.get_image(80,80) %>
              <%= not_spoiler_review.customer.name %>
            <% end %>
            <%# if not_spoiler_review.review_image.attached? %>
              <%#= image_tag not_spoiler_review.review_image.first.variant(resize: '50x50') %>
            <%# end %>
            <div class="card-title">
              <%= link_to review_path(not_spoiler_review.id) do %>
                <%= not_spoiler_review.title %><%= not_spoiler_review.sub_title %>
              <% end %>
              <%= render "public/favorites/view", review: not_spoiler_review %>
            </div>
            <%= not_spoiler_review.body.truncate(35) %>
            <br />
            会場名：<%= not_spoiler_review.venue_name %><br />
            公演日：<%= not_spoiler_review.date.strftime('%Y/%m/%d') %><br />
            開演時間：<%= not_spoiler_review.time.strftime('%H:%M') %>
            <br />
            <i class="fa-solid fa-tag"></i>
            <%= not_spoiler_review.tags.map(&:name).join(', ') %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
