<!--ネタバレあり @spoiler_review = @customer.reviews.where(status: :spoiler)-->

<div class="row row-cols-4">
  <% spoiler_review.each do |spoiler_review| %>
    <div class="col mb-4">
      <div class="card w-300 mx-auto mt-4 shadow-lg">

        <div class="card-header">
          <%= link_to customer_path(spoiler_review.customer.id) do %>
            <%= image_tag spoiler_review.customer.get_image(80,80) %>
            <%= spoiler_review.customer.name %>
          <% end %>
        </div>

        <div class="card-title text-center">
           <%= link_to review_path(spoiler_review.id) do %>
            <h5><%= spoiler_review.title %><%= spoiler_review.sub_title %></h5>
          <% end %>
        </div>

        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><%= spoiler_review.body.truncate(35) %></li>
            <li class="list-group-item">会場名：<%= spoiler_review.venue_name %></li>
            <li class="list-group-item">公演日：<%= spoiler_review.date.strftime('%Y/%m/%d') %></li>
            <li class="list-group-item">開演時間：<%= spoiler_review.time.strftime('%H:%M') %></li>
        </ul>
        </div>

        <div class="card-body">
          <%= render "public/favorites/view", review: spoiler_review %>
          |
          <i class="fa-solid fa-tag"></i>
          <%= spoiler_review.tags.map(&:name).join(', ') %>
        </div>

      </div>
    </div>
  <% end %>
</div>