<div class="container">
  <div class="row mt-5">
    <div class="col">
      <h3>投稿詳細</h3>

      <div class="card">
        <div class="card-body">
          <%= image_tag @customer.get_image(80,80) %>
          <%= @customer.name %>
          <%= link_to "投稿編集", edit_review_path(@review.id), class:"btn btn-success" %>
          <%= link_to "投稿削除", review_path, method: :delete, "data-confirm" => "本当に消しますか？",class:"btn btn-danger" %>
          <div class="card-title">
            <%= @review.title %>
          </div>
          <div class="card-subtitle">
            <%= @review.sub_title %>
          </div>
          <%= @review.body %>
          <%= @review.venue_name %>
          <% @tags.each do |tag| %>
            <i class="fa-solid fa-tag"><%=tag.name%><%="(#{tag.reviews.count})" %></i>
          <% end %>
        </div>
      </div>

      <%= render "public/review_comments/comment", review: @review %>
      <%= render "public/review_comments/form", review: @review, review_comment: @review_comment %>

    </div>
  </div>
</div>