<div class="container">
  <div class="row mt-5">
    <div class="col">
      <h3 class="row">
        <%= @review.title %><%= @review.sub_title %>(<%= @review.status_i18n %>)
        <div class="mt-2" id="favorite_btn_<%= @review.id %>">
          <%= render "public/favorites/btn", review: @review %>
        </div>
        <div class="ml-2">
          <% if @customer === current_customer %>
            <%= link_to "投稿編集", edit_review_path(@review.id), class:"btn btn-outline-success" %>
            <%= link_to "投稿削除", review_path, method: :delete, "data-confirm" => "本当に消しますか？",class:"btn btn-outline-danger" %>
          <% end %>
        </div>
      </h3>

      <section class="review-show-top">
        <div class="row">
          <% @tags.each do |tag| %>
            <i class="fa-solid fa-tag"><%=tag.name%></i>
          <% end %>
        </div>
      </section>


      <section class="review-show">
        <% if @review.review_images.attached? %>
          <div class="flex-row">
            <div class="swiper">
              <div class="swiper-wrapper">
                <% @review.review_images.each do |review_images| %>
                  <%= image_tag review_images, class: "swiper-slide" %>
                <% end %>
              </div>
              <!-- ナビゲーションボタン （前、次） -->
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>
              <!-- ページネーションの要素 -->
              <div class="swiper-pagination"></div>
            </div>
          </div>
        <% end %>
      </section>

      <div class="row">

        <div class="col-12 col-md-3 col-lg-2">
          <section class="review-show-top">
            <div class="review-show-left">
              <%= image_tag @customer.get_image(80,80), class:"rounded-circle" %>
              <br />
              <%= @customer.name %>
            </div>
          </section>
        </div>

        <div class="col-12 col-md-8 col-lg-10">
          <section class="review-show-top">
            <div class="review-show-right ml-3">
              会場名：<%= @review.venue_name %>
              <br />
              公演日：<%= @review.date&.strftime('%Y/%m/%d') %>
              <br />
              開演時間：<%= @review.time&.strftime('%H:%M') %>
            </div>
          </section>
        </div>

      </div>

      <div class="row mt-2">
        <div class="col">
          <%= render "admin/reviews/body", review: @review %>
        </div>
      </div>

      <div class="review-comment" id="review_comment">
        <%= render "public/review_comments/comment", review: @review %>
      </div>
      <br />
      <%= render "public/review_comments/form", review: @review, review_comment: @review_comment %>

      <div class="col-lg-5 col-md-7 col-sm-7 col-8 mb-lg-5 my-sm-3 my-3 background">
        <strong><%= link_to "不適切な投稿として報告する" ,new_review_reports_path(@review), class: "text-dark" %></strong>
      </div>

    </div>
  </div>
</div>

<!--<script src="script.js"></script>-->