<div class="container">
  <div class="row mt-5">
    <div class="col">
      <h3>投稿詳細</h3>

      <div class="card", style="width: 18rem;">
        <div class="card-body">
          <%#= image_tag review.customer.get_image(80,80) %>
          <%= @customer.name %>
          <div class="card-title">
            <%= @reviews.title %>
          </div>
          <div class="card-subtitle">
            <%= @reviews.sub_title %>
          </div>
          <%= @reviews.body %>
          <%= @reviews.venue_name %>
          <%= @reviews.tag %>
        </div>
      </div>

    </div>
  </div>
</div>