<div class="container mt-5">
<h3>レビューコメント一覧</h3>
<table class="table mt-3">
  <tr>
    <th>名前</th>
    <th>公演名</th>
    <th>コメント</th>
    <th>投稿日</th>
    <th></th>
  </tr>
<% @review_comments.each do |review_comment| %>
  <tr>
    <td><%= @customers.find(review_comment.customer_id).name %></td>
    <td><%= @reviews.find(review_comment.review_id).title %></td>
    <td><%= review_comment.comment %></td>
    <td><%= review_comment.created_at.strftime('%Y/%m/%d') %></td>
    <td>
    <%= link_to '削除', admin_review_comment_path(review_comment), method: :delete, data: { confirm: '本当に削除しますか?' },class: "btn btn-outline-danger" %>
    </td>
  </tr>
<% end %>
</table>

</div>