<div class= "container mt-5">

  <% if @reports.exists? %>

    <section>
      <div class="flex-row">
        <div class="flex-comment">投稿ユーザー名</div>
        <div class="flex-comment">報告ユーザー名</div>
        <div class="flex-comment">投稿詳細</div>
        <div class="flex-comment">ステータス</div>
        <div class="flex-comment">投稿日</div>
        <div class="flex-comment">報告日</div>
        <div class="flex-comment"></div>
      </div>

      <% @reports.each do |report| %>
        <div class="flex-row">
          <div class="flex-comment">
            <%= @customers.find(report.review.customer_id).name %>
          </div>
          <div class="flex-comment">
            <%= @customers.find(report.customer_id).name %>
          </div>
          <div class="flex-comment">
            <%= link_to "投稿詳細", admin_review_path(report.review_id) %>
          </div>
          <div class="flex-comment">
            <%= report.review.report_status_i18n %>
          </div>
          <div class="flex-comment">
            <%= report.review.created_at.strftime('%Y/%m/%d') %>
          </div>
          <div class="flex-comment">
          <%= report.created_at.strftime('%Y/%m/%d') %>
          </div>
          <div class="flex-comment">
            <%#= link_to '削除', admin_review_comment_path(review_comment), method: :delete, data: { confirm: '本当に削除しますか?' },class: "btn btn-outline-danger" %>
          </div>
        </div>
      <% end %>
    </section>
  <% else %>
    <div class="draft-text d-flex align-items-center justify-content-center", style="height:250px; margin: auto;">
      報告はありません
    </div>
  <% end %>
</div>