<p>コメント一覧  <%= review.review_comments.count %>件</p>
  <section>
    <% review.review_comments.each do |review_comment| %>
      <div class="flex-row">
        <div class="flex-comment">
          <%= image_tag review_comment.customer.get_image(50,50), class:"rounded-circle" %><br />
          <%= review_comment.customer.name %>
        </div>
        <div class="flex-comment">
          <!--紹介文が「空」のままだとエラーが出るのでnil?=trueの時を追加-->
          <%if review_comment.comment.nil? %>
            <%= review_comment.comment %>
          <% else %>
            <!--紹介文が「空」じゃない時は正常に反映する-->
            <%= safe_join(review_comment.comment.split("\n"),tag(:br)) %>
          <%end %>
        </div>
        <div class="flex-comment">
          <div id="review_comment">
            <% if review_comment.customer == current_customer %>
              <%= link_to "削除", review_review_comment_path(review, review_comment), method: :delete, "data-confirm" => "本当に消しますか？",class:"btn btn-danger", remote:true, data: {"turbolinks" => false}  %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </section>
