<nav class="navbar navbar-expand-lg navbar-light header">
  <%= link_to root_path do %>
    <%= image_tag 'Portfolio_logo.png', size: '180x70' %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <div>
      <div class="row header-nav">
        <ul class="navbar-nav ml-auto">
          <% if admin_signed_in? %>
            <li class="nav-item mx-3">
              <%= link_to '会員一覧', admin_customers_path, class: "btn btn-outline-info" %>
            </li>
            <li class="nav-item mx-3">
              <%= link_to '投稿一覧', admin_reviews_path, class: "btn btn-outline-info" %>
            </li>
            <li class="nav-item mx-3">
              <%= link_to 'コメント一覧', admin_review_comments_path, class: "btn btn-outline-info" %>
            </li>
            <li class="nav-item mx-3">
              <%= link_to '報告一覧', admin_reports_path, class: "btn btn-outline-info" %>
            </li>
            <li class="nav-item mx-3">
              <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: "btn btn-outline-info" %>
            </li>
          <% elsif customer_signed_in? %>
            <div class="mt-3 mr-5">
              ようこそ、<%= current_customer.name %>さん!
            </div>
            <li class="nav-item mx-3">
              <%= link_to 'マイページ', customer_path(current_customer.id), class: "btn btn-outline-info" %>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                マイページ
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to 'マイページ', customer_path(current_customer.id), class: "dropdown-item" %>
                <%= link_to '新規投稿', new_review_path, class: "dropdown-item" %>
                <% if current_customer.email != "guest@example.com" %>
                  <%= link_to '会員情報編集', edit_customer_path(current_customer.id), class: "dropdown-item" %>
                <% end %>
                <%= link_to 'フォロー一覧', customer_followings_path(current_customer.id), class: "dropdown-item" %>
                <%= link_to 'フォロワー一覧', customer_followers_path(current_customer.id), class: "dropdown-item" %>
                <%= link_to 'ブックマーク一覧', favorite_index_customer_path(current_customer), class: "dropdown-item" %>
              </div>
            </li>
            <li class="nav-item mx-3">
              <%= link_to '会員一覧', customers_path, class: "btn btn-outline-info" %>
            </li>
            <li class="nav-item mx-3">
              <%= link_to '投稿一覧', reviews_path, class: "btn btn-outline-info" %>
            </li>
            <li class="nav-item mx-3">
              <%= link_to "新規投稿", new_review_path, class:"btn btn-outline-info" %>
            </li>
            <li class="nav-item mx-3">
              <%= link_to 'ログアウト', destroy_customer_session_path, method: :delete, class: "btn btn-outline-info" %>
            </li>
          <% else %>
            <li class="nav-item mx-3">
              <%= link_to '新規登録', new_customer_registration_path, class: "btn btn-outline-info" %>
            </li>
            <li class="nav-item mx-3">
              <%= link_to 'ログイン', new_customer_session_path, class: "btn btn-outline-info" %>
            </li>
            <li class="nav-item mx-3">
              <%= link_to 'ゲストログイン（閲覧用）', customers_guest_sign_in_path, method: :post, class: "btn btn-outline-info" %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="row header-search">
        <%= render 'layouts/search' %>
      </div>
    </div>
  </div>
</nav>