<% if customer_signed_in? %>
<div class="search_form">
  <%= form_with url: search_path, local: true, method: :get do |f| %>
      <%= f.text_field :word, placeholder: "タイトル名で検索" %>
      <%= f.hidden_field :range, :value => 'Review' %>
      <%= f.hidden_field :search, :value => "partial_match" %>
      <%= f.submit "検索", class: "btn-sm btn-outline-primary" %>
    <% end %>
  </div>
<% end %>